<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHẬT CARO, OANH HÔHÔ</title>
    <link rel="stylesheet" href="../static/css/style.css">
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
</head>
<body>
<h1>NHẬT CARO, OANH HÔHÔ</h1>
<div id="game-container">
    <div id="game-board"></div>
    <canvas id="line-canvas"></canvas>
</div>
<div id="message"></div>
<button id="reset-btn">Chơi lại</button>

<script src="../static/js/script_game.js"></script>
</body>
</html>
